.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.options h3 {
  width: 20%;
}
.selections {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.selections > div {
  padding: 10px;
}
.selected {
  background-color: #f1f1f1;
  border-radius: 5px;
  color: #000;
}
#settings ul {
  list-style: none;
}
.information{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 70px;
  max-width: 100px;
  min-height: 70px;
  overflow-wrap: break-word;
  background-color: #e1e1e1;
  color: #000;
  border-radius: 5px;
}
img {
  width: 0.5rem;
}
.btn-information{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}
